[run]
source =
    app

omit =
    app/manage.py
    app/config/asgi.py
    app/config/wsgi.py
    app/*/migrations/*
    app/*/migrations/*

[report]
exclude_lines =
    def __str__
    def __repr__
    if settings.DEBUG
    return super()
    raise AssertionError
